<div class="reset-password-page">
  <div class="reset-password-container">
    <h2>Reset Password</h2>
    <p>Enter your email to get back into your account</p>
    <form (ngSubmit)="onSubmit()">
      <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required />
      <button type="submit">Continue</button>
      <div class="remember-me">
        <div style="display: flex;">
          <input type="checkbox" id="rememberMe" [(ngModel)]="rememberMe" name="rememberMe" />
          <label for="rememberMe">Remember me</label>
        </div>
        <a href="/login">Login?</a>
      </div>
    </form>
    <p class="terms">
      By continuing, you confirm that you're an adult and you've read and accepted our 
      <a href="/membership-agreement">GrabNGo Free Membership Agreement</a> and 
      <a href="/privacy-policy">Privacy Policy</a>.
    </p>
  </div>
</div>
