<header class="header">
  <img src="assets/Logo.png" alt="Grab N Go Logo" class="logo" />
  <nav class="nav">
    <a
      routerLink="/orderAdmin"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }">
      Orders
    </a>
    <a
      routerLink="/productAdmin"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }">
      Product
    </a>
    <a
      routerLink="/category"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }">
      Category
    </a>
    <a (click)="logOut()">Logout</a>
  </nav>
</header>

<!--<header class="header">-->
<!--    <div class="logo">-->
<!--        <img src="assets/Logo.png" alt="GrabNGo Logo" />-->
<!--    </div>-->

<!--    <nav class="nav">-->
<!--        <a routerLink="/about">About Us</a>-->
<!--        <a routerLink="/categories">Categories</a>-->
<!--        <a routerLink="/login" >Login</a>-->
<!--    </nav>-->

<!--    <div class="cart">-->
<!--        <a routerLink="/cart">-->
<!--            <i class="material-icons">shopping_cart</i>-->
<!--            <span>My Cart</span>-->
<!--        </a>-->
<!--    </div>-->

<!--</header>-->
<!--<div class="tagline">-->
<!--    <h2>Convenience in Every Click</h2>-->
<!--</div>-->