
  .nav a {
    text-decoration: none;
    padding: 10px 15px;
    color: black;
    font-weight: normal;
    transition: color 0.3s ease, font-weight 0.3s ease;
  }
  
  .nav a:hover {
    color: gray;
  }
  
  .active-link {
    color: #00aaff !important;
    font-weight: bold;
  }  

  .product-admin {
    padding: 20px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 -6px 12px rgba(1, 1, 1, 0.9); 
    }
  
  .logo {
    height: 80px;
    width: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
  }
  
  .nav a.active {
    color: #00aaff;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .product-table th,
  .product-table td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  .dropdown {
    width: 100%;
  }
  
  .add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  