<div class="product-overview">
    <div class="product-container">
        <div class="product-image">
            <button (click)="scrollImages('left')" *ngIf="showLeftArrow" class="arrow-btn left">
                <i class="fas fa-chevron-left"></i>
            </button>

            <div class="image-scroll-container">
                <div *ngFor="let image of images; let i = index" [class.active]="i === currentIndex"
                     class="image-placeholder">
                    <img [src]="image" alt="Product Image"/>
                </div>
            </div>

            <button (click)="scrollImages('right')" *ngIf="showRightArrow" class="arrow-btn right">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>

        <div class="product-details">
            <h2>{{ product.name }}</h2>
            <p class="price">Rs. {{ product.price }}</p>
            <p class="description">{{ product.description }}</p>
            <p class="model-info">
                Height of model: {{ product.modelHeight }} / Size: {{ product.sizeInfo }}
            </p>


            <div class="quantity-section">

                <div class="quantity-controls">
                    <button (click)="decreaseQuantity()" class="quantity-btn">-</button>
                    <input [value]="quantity" class="quantity-input" readonly type="number">
                    <button (click)="increaseQuantity()" class="quantity-btn">+</button>
                </div>


                <select [(ngModel)]="product.size" class="size-dropdown">
                    <option>XL</option>
                    <option>L</option>
                    <option>M</option>
                    <option>S</option>
                </select>
            </div>

            <div class="actions">
                <button (click)="addToCart()" class="add-to-cart-btn">
                    Add to Cart · Rs. {{ ((product?.price ?? 0) * (quantity || 1)).toFixed(2) }}
                </button>

                <button class="buy-now">Buy Now</button>
            </div>
        </div>
    </div>
</div>
 