<div class="add-category-container">
    <h1>Edit Category</h1>

    <form (ngSubmit)="onSubmit()" [formGroup]="editCategoryForm">
        <!-- Category Name -->
        <div class="form-row">
            <label class="form-label" for="category-name">Category Name</label>
            <mat-form-field class="form-field">
                <mat-label>Category Name</mat-label>
                <input formControlName="categoryName" matInput/>
                <mat-error *ngIf="editCategoryForm.get('categoryName')?.hasError('required')">
                    Category Name is required.
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Description -->
        <div class="form-row">
            <label class="form-label" for="description">Description</label>
            <mat-form-field class="form-field full-width">
                <mat-label>Description</mat-label>
                <textarea formControlName="description" matInput rows="3"></textarea>
                <mat-error *ngIf="editCategoryForm.get('description')?.hasError('required')">
                    Description is required.
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Action Buttons -->
        <div class="button-row">
            <button (click)="cancel()" class="cancel-button" mat-button type="button">
                Cancel
            </button>
            <button
                    [disabled]="!editCategoryForm.valid"
                    mat-raised-button
                    type="submit"
            >
                Edit Category
            </button>
        </div>

        <div *ngIf="showSuccessMessage" class="success-message">
            Category edited successfully!
        </div>
    </form>
</div>
  