<div class="order-admin">
    <div *ngIf="isLoading" class="loading">
        <p>Loading orders...</p>
    </div>
    <table *ngIf="orders.length > 0 && !isLoading && !hasError; else noOrders" class="admin-table">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>User ID</th>
            <th>Price</th>
            <th>Created Date</th>
            <th>Status</th>
            <!-- <th>Discount</th> -->
            <!-- <th>Action</th> -->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders">
            <td>{{ order.orderId }}</td>
            <td>{{ order.userId }}</td>
            <td>Rs. {{ order.totalPrice }}</td>
            <td>{{ order.createdDateTime | date: 'short' }}</td>
            <td>
                <mat-form-field appearance="fill" class="dropdown">
                    <mat-select (selectionChange)="updateOrderStatus(order)" [(value)]="order.status">
                        <mat-option value="{{accepted}}">Accepted</mat-option>
                        <mat-option value="{{delivered}}">Delivered</mat-option>
                        <mat-option value="{{cancelled}}">Cancelled</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <!-- <td>{{ order.discount }}</td> -->
        </tr>
        </tbody>
    </table>
    <ng-template #noOrders>
        <p class="no-data">No orders available.</p>
    </ng-template>
</div>
