<div class="login-container">
    <div class="login-card">
      <h2>Welcome Back</h2>
      <p>Login with email</p>

      <form>
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />

        <div class="options">
          <a href="#">Don't have an account? <span>Signup</span></a>
          <a href="#">Forgot Password?</a>
        </div>

        <button type="submit" class="login-button">Login</button>

        <p class="agreement-text">
          By continuing, you confirm that you're an adult and you've read and accepted our GrabNGo Free Membership Agreement and Privacy Policy.
        </p>
      </form>
    </div>

    <app-footer>
