<div class="login-container">
  <div class="login-card">
    <h2>Welcome Back</h2>
    <p>Login with email</p>

    <form (ngSubmit)="onLogin()">
      <div class="input-group">
        <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required />
      </div>
      <div class="input-group">
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password"
          [(ngModel)]="password"
          name="password"
          required
        />
        <span class="eye-icon" (click)="togglePasswordVisibility()">
          <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
        </span>
      </div>

      <div class="options">
        <a routerLink="/auth/registration">Don't have an account? Signup</a>
        <a routerLink="/auth/reset-password">Forgot Password?</a>
      </div>

      <button type="submit" class="login-button" [disabled]="!email || !password">Login</button>

      <p class="agreement-text">
        By continuing, you confirm that you're an adult and you've read and accepted our GrabNGo Free Membership Agreement and Privacy Policy.
      </p>
    </form>
  </div>
</div>
