/* Common styles for all admin tables */
.category-view {
    margin: 30px;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 50px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #C06308;
  margin-top: 50px;
}

.admin-table th {
    background-color: #FB800D;
    color: white;
    padding: 20px;
    text-align: center;
}

.admin-table th,
.admin-table td {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.dropdown {
    width: 100%;
}

.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FB800D;
    color: white;
}
