<div class="category-view">
  <h2>Category Details</h2>

  <table [dataSource]="categories" class="admin-table mat-elevation-z8" mat-table>
        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell> Category Name</th>
            <td *matCellDef="let category" mat-cell> {{ category.categoryName }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th *matHeaderCellDef mat-header-cell> Description</th>
            <td *matCellDef="let category" mat-cell> {{ category.description }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th *matHeaderCellDef mat-header-cell> Action</th>
            <td *matCellDef="let category" mat-cell>
                <button (click)="deleteCategory(category)" color="warn" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
              <button (click)="editCategory(category)" [routerLink]="['/categoryEdit', category.categoryId]" color="primary" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

    <button (click)="addCategory()" class="add-button" mat-fab routerLink="/categoryAdd">
        <mat-icon>add</mat-icon>
    </button>
</div>
